################################################################################
# DOCKER ENVIRONMENT SETUP
################################################################################

COMPOSE_PROJECT_NAME="adjuftments"
DOCKER_DIRECTORY="XXXXXXXXXXXXX" # "/Users/firstname.lastname/git/adjuftments"
UNIVERSAL_RESTART_POLICY="unless-stopped"
TZ="XXXXXXXXXXXXX" # "America/Denver"
TZ_7="XXXXXXXXXXXXX" # "MST7MDT"
PUID="1000"
PGID="1000"

################################################################################
# ADJUFTMENTS VARIABLES (formerly ~/.adjuftments)
################################################################################

ADJUFTMENTS_API_HOST="api"
ADJUFTMENTS_API_TOKEN="XXXXXXXXXXXXX"

#########################
# AIRTABLE
#########################

AIRTABLE_API_KEY="XXXXXXXXXXXXX"
AIRTABLE_BASE="XXXXXXXXXXXXX"

AIRTABLE_HISTORICAL_BASE_2020="XXXXXXXXXXXXX"
AIRTABLE_HISTORICAL_BASE_2019="XXXXXXXXXXXXX"
AIRTABLE_HISTORICAL_BASE_2018="XXXXXXXXXXXXX"

#########################
# DATABASE
#########################

DATABASE_HOST="database"
DATABASE_USER="XXXXXXXXXXXXX"
DATABASE_PASSWORD="XXXXXXXXXXXXX"
DATABASE_DB="adjuftments"

#########################
# SPLITWISE
#########################

SPLITWISE_CONSUMER_KEY="XXXXXXXXXXXXX"
SPLITWISE_CONSUMER_SECRET="XXXXXXXXXXXXX"
SPLITWISE_OAUTH_TOKEN="XXXXXXXXXXXXX"
SPLITWISE_OAUTH_SECRET="XXXXXXXXXXXXX"
SPLITWISE_FINANCIAL_PARTNER="XXXXXXXXXXXXX"

#########################
# PUSHOVER
#########################

PUSHOVER_PUSH_TOKEN="XXXXXXXXXXXXX"
PUSHOVER_PUSH_USER="XXXXXXXXXXXXX"

#########################
# IMGUR
#########################

IMGUR_CLIENT_ID="XXXXXXXXXXXXX"

#########################
# API REVERSE PROXY
#########################

API_SUBDOMAIN="api"
DOMAIN_NAME="localhost"

#########################
# API SETTINGS PROXY
#########################

DISABLE_API_SECURITY="False"
WSGI_APPLICATION="adjuftments.rest_api:app"
FLASK_APP=${WSGI_APPLICATION} # FLASK VARIABLES ONLY USED WHEN UNCOMMENTED INSIDE OF DOCKER-COMPOSE
FLASK_ENV="development"
