<!DOCTYPE html>
<html lang="">
<head>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-178537159-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-178537159-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-height, initial-scale=1, maximum-scale=1">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>adjuftments: Dashboard</title>
    <link rel="shortcut icon"
          href="https://raw.githubusercontent.com/juftin/resume/master/resume/web/favicon.png">
</head>

<body>

<table style="width:100%" , border="1" , aria-describedby="Adjuftments Dashboard Data">
    <tr>
        <th scope="col">Measure</th>
        <th scope="col">Value</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.measure}}</td>
        <td>{{item.value}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>